.category {
  width: var(--grid-item-width, 58px);
}
.category-logo,
.skeleton-category-logo {
  border-radius: 40%;
  width: var(--grid-item-image-with, 48px);
  height: var(--grid-item-image-with, 48px);
}
.category-name {
  word-break: break-word;
}