.onboarding {
  height: 80%;
}
.onboarding .t-carousel-indicator {
  flex: 1;
  display: flex;
  margin-bottom: 0;
  align-items: flex-end;
}
.footer-onboard {
  flex: 1;
  padding-bottom: 32px;
  background: var(--white);
}