.sub-category-section-wrapper {
  min-height: fit-content;
  border: 1px solid var(--gray20);
}
.sub-category-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sub-category-section-item .category {
  padding: 8px;
  margin: 0 auto;
  --grid-item-width: calc((100vw - 146px) / 3);
  --grid-item-image-with: calc(var(--grid-item-width) - 28px);
}
.sub-category-section-item .category-name {
  font-size: 12px;
}