.sort-item {
  border-bottom: solid 1px var(--gray10);
}
.sort-item:last-child {
  border-bottom: none;
}
.sort-item-active {
  margin-left: -16px;
  padding-left: 16px;
  margin-right: -16px;
  padding-right: 16px;
  background-color: rgba(26, 148, 255, 0.1);
}
.sort-item-active text {
  font-weight: 700;
}